.highlight {
  background-color: #5bc0de;
  color: #eee;
  font-weight: 700;
  padding: 0 2px 2px;
  margin: 0;
}
.facet {
  border-bottom: 1px solid #337ab7;
  padding-bottom: 10px;
}
.facet h4 {
  font-weight: bold;
  color: #337ab7;
}
.facet-value .action {
  cursor: hand;
  cursor: pointer;
  visibility: hidden;
}
.facet-value:hover .action {
  visibility: visible !important;
}
.search-input {
  padding-top: 10px;
}